<div class="container">

  <div class="col" style="text-align: center;" >

    <br><br>
<div style=" text-align: center" >
</div>
  
    <form class="form-group row">
      <div class="form-group col-md-3">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre" [(ngModel)]="nombre" 
        placeholder="Nombre" class="form-control"><br><br>
      </div>
  
      <div class="form-group col-md-3">
        <label for="apellido">Apellido:</label>
        <input type="text" name="apellido" id="apellido" [(ngModel)]="apellido" 
        placeholder="Apellido" class="form-control"><br><br>
      </div>
  
      <div class="form-group col-md-3">
        <label for="cargo">Cargo:</label>
        <input type="text" name="cargo" id="cargo" [(ngModel)]="cargo" 
        placeholder="Cargo" class="form-control"><br><br>
      </div>
  
      <div class="form-group col-md-3">
        <label for="salario">Sueldo:</label>
        <input type="number" name="salario" id="salario" [(ngModel)]="sueldo" 
        placeholder="0" class="form-control"><br>
      </div>
  
     
    </form>

</div>

       <div  class="row justify-content-center">
        <div class="col">
        <input type="submit" value="Agregar"   (click)="agregarEmpleado(); limpiardatos()" 
        style="padding: 5px; padding-inline: 7px;" class="btn btn-info">
     
      </div>
      
      <div class="col">
        <div class=" justify-content-center">
        <button class="btn btn-info" style="padding: 5px; padding-inline: 7px;"    
         (click)="volverAlInicio()"> Home </button> 
        </div>
      </div>
    </div>
   
    </div>